body {
    font-family: cursive;

    background-color: #F1F5F8;
}

#main {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: lightgrey 0px 0px 20px;

    background-color: white;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 20px;

    font-size: 30px;
    color: #063251;
    text-align: center;
}

button {
    font: inherit;
    cursor: pointer;
}

.add-edit-item-controls {
    display: flex;
    width: 100%;

    border-radius: 10px;
    overflow: hidden;
}

#add-edit-item-input {
    flex-grow: 1;

    padding: 5px 20px;
    border: none;
    border-radius: 10px 0 0 10px;
    
    font: inherit;
    font-weight: bold;
    background-color: #F1F5F8;
    color: #617D98;
}

#add-edit-item-input::placeholder {
    color: #617D98;
    opacity: 0.5;
}

#add-edit-item-input:focus {
    outline: darkgray solid 3px;
    outline-offset: -2px;
}

.add-edit-item-controls button {
    border: none;
    padding: 5px 30px;
    background-color: #A5D5F8;
}

.add-edit-item-controls button:hover {
    font-weight: bold;
    background-color: #72a0c2;
}

#edit-item-btn {
    display: none;
}

#status-message {
    font-size: 12px;
    color: red;
}


.items-list {
    margin-top: 20px;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-item {
    display: flex;
    color: #112942;
} 

.list-item-btns {
    margin-left: auto;
}

.fa-pen-to-square {
    cursor: pointer;
    color: #6BE675;
}

.fa-pen-to-square:hover {
    color: #20a12a;
}

.fa-trash {
    cursor: pointer;
    margin-left: 10px;

    color: #E66B6B;
}

.fa-trash:hover {
    color: #ed2e2e;
}

.clear-items-controls {
    margin: 20px;
}

#clear-items-btn {
    display: block;
    margin: 0 auto;
    border: none;
    background: transparent;

    font-size: 20px;
    color: #E66B6B;
}

#clear-items-btn:hover {
    font-weight: bold;
}
