body {
    /* font-family: cursive;     */
}

#main {
    margin: auto;
    max-width: 500px;
}

.search-box {
    position: relative;

}

.search-box input {
    width: 100%;

}

.search-results {
    width: 100%;

    position: absolute;
    z-index: 1000;
    background-color: white;
}

.search-results ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}